
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/sass.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <nav class="navigator">
        Link A
    </nav>
    <div class="panel-A"> 
        Panel A
    </div>
    <div class="panel-B">
        Panel B
    </div>
</body>
</html>
